<!DOCTYPE html>
<html ng-app="ovrApp" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <script src="library/js/angular.min.js"></script>
    <script src="library/js/angular-route.min.js"></script>
    <script src="app.js"></script>
    <script src="mainController.js"></script>
    <script src="mainService.js"></script>
    <script src="modules/connexion/authController.js"></script>
    <script src="modules/registration/registrationController.js"></script>
    <script src="modules/menu/mainMenuController.js"></script>
    <script src="modules/profile/profileController.js"></script>
    <script src="modules/profile/profileService.js"></script>
    <script src="modules/trace/traceController.js"></script>
    <script src="library/js/jquery-3.1.1.js"></script>
    <script src="style/css/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script src="https://www.gstatic.com/firebasejs/4.2.0/firebase.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBWtVAwETTsTiGI9V-V8ZWKdexJTMUYujk",
            authDomain: "onvarouler-52e89.firebaseapp.com",
            databaseURL: "https://onvarouler-52e89.firebaseio.com",
            projectId: "onvarouler-52e89",
            storageBucket: "onvarouler-52e89.appspot.com",
            messagingSenderId: "509954642214"
        };
        firebase.initializeApp(config);
        console.log(firebase.app().name);
        var defaultStorage = firebase.storage();
        var defaultDatabase = firebase.database();
        var storageRef = defaultStorage.ref();
        var imagesRef = storageRef.child('photo/profile');
    </script>
    <link rel="stylesheet" type="text/css" href="style/css/style.css">
    <link rel="stylesheet" type="text/css" href="style/css/montain.css">
    <link rel="stylesheet" type="text/css" href="modules/profile/profile.css">
    <link rel="stylesheet" type="text/css" href="style/css/bootstrap-3.3.7-dist/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="style/css/bootstrap-3.3.7-dist/css/bootstrap-theme.css">
    <link rel="stylesheet" href="style/font-awesome-4.7.0/css/font-awesome.min.css">
    <title>OVR</title>
    <link rel="shortcut icon" href="img/header-bike.png">
</head>
<body class="cd-body" ng-controller="mainCtrl">
<div class="col-xs-12 col-md-12 ovr-header">
    <h1 class="ovr-header-title">OVR</h1>
    <p class="ovr-header-sub-title">On Va Rouler</p>
    <div class="ovr-profile-menu" ng-show="checkIfUserSignIn()">
        <span class="ovr-profile-menu-name">{{user.displayName}}</span>
        <img class="ovr-profile-menu-photo" src="img/default_profile.png"/>
        <span class="ovr-profile-menu-arrow" ng-click="displayProfileMenu()">
            <i class="fa fa-chevron-down" aria-hidden="true"></i></span>
    <div ng-show="isDisplayProfileMenu" class="ovr-displayed-profile-menu">
        <ul class="ovr-profile-menu-list">
            <li><span>Mes propositions</span></li>
            <li><span>Mes participation</span></li>
            <li><span>Mes avantages</span></li>
            <li data-ng-click="openProfile()"><span >Mon profil</span></li>
            <li data-ng-click="signOut()"><span >Se deconnecter</span></li>
        </ul>
    </div>
    </div>
</div>


<!--<button class="ovr-button-deco">Deconnexion</button>-->
</div>
<div ng-view class="col-xs-12 col-md-12 ovr-body"></div>
<footer class="col-xs-12 col-md-12 ovr-footer">2017 - Thomas de Lagoutine</footer>
</body>
</html>