:root {
    --ovr-blue: #708D81;
    --ovr-white: #FDF5E2;
    --ovr-red: #821122;
    --ovr-black: #333745;
    --ovr-yellow: #F6F792;
    --ovr-brown: #A65C32;
    --ovr-dark-blue: #001427;
}

@font-face {
    font-family: subTitleFont;
    src: url(title.ttf);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: table;
    width: 100%;
}

footer {
    display: table-row;
    height: 20px; /* à titre d'exemple */
}

.ovr {
    background-color: white;
}

.ovr-button {
    display: block;
    width: 100%;
    background-color: wheat;
    font-family: subTitleFont;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: 0;
    font-size: 18pt;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ovr-button-mini {
    display: block;
    width: 100%;
    background-color: wheat;
    font-family: subTitleFont;
    margin-bottom: 0;
    font-size: 13pt;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.ovr-checkbox-zone {
    margin-top: 10px;
}

.ovr-profile-menu {
    position: absolute;
    top: 23%;
    right: 10%;
    background-color: transparent;
    font-weight: normal;
    text-align: center;
    border-radius: 4px;
    font-size: 11pt;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 1px;
    z-index: 1;
}

.ovr-label-checkbox {
    padding-right: 6%;
}

.ovr-header-profile-menu {
    background-color: wheat;

}

.ovr-profile-menu-list {
    background-color: wheat;
    list-style-type: none;
    float: left;
    text-align: left;
}

.ovr-profile-menu-list li {
    padding-bottom: 7px;
    padding-top: 7px;
    white-space: nowrap;
    margin-left: -40px;
    padding-right: 130px;
    cursor: pointer;

}

.ovr-profile-menu-list li span {
    margin-left: 40px;

}

.ovr-profile-menu-list li:hover {
    background-color: var(--ovr-blue);
}

.ovr-profile-menu-name {
    padding-right: 10px;
    color: wheat;
    font-weight: bold;
}

.ovr-displayed-profile-menu {
    z-index: 2;
    position: absolute;
    margin-top: 3%;
}

.ovr-profile-menu-arrow {
    text-align: center;
    padding-left: 10px;
    color: wheat;
    cursor: pointer;
}

.ovr-button-deco {
    position: absolute;
    top: 35%;
    right: 88%;
    background-color: wheat;
    font-weight: normal;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: subTitleFont;
    font-size: 14pt;
    padding-top: 3px;
}

.ovr-profile-menu-photo {
    width: 15%;
    border-radius: 20px;
}

.ovr-text-connexion {
    font-size: 16pt;
}

.ovr-inscription-link {
    width: 60%;
    background-color: transparent;
    margin-left: 37%;
    color: black;

}

a {
    text-decoration: none;
}

a:hover {
    color: gray;
    text-decoration: none;
    cursor: pointer;
}

.ovr-form {
    padding-top: 5%;
}

.ovr-header {
    background-color: var(--ovr-blue);
    height: 12%;
}

.ovr-header-title {
    text-align: center;
    color: wheat;
    font-size: 33pt;
    font-weight: 800;
    letter-spacing: 11px;
    margin-top: 2px;

}

.ovr-header-title:hover {
    cursor: pointer;
}

.ovr-header-sub-title {
    font-family: subTitleFont;
    text-align: center;
    color: wheat;
    font-size: 14pt;
    font-weight: 800;
    letter-spacing: 5px;
    word-spacing: 4px;
    padding-left: 16px;
}

.ovr-body {
    font-family: "Nirmala UI";
    background-color: var(--ovr-white);
    height: 85%;
}

.ovr-footer {
    background-color: var(--ovr-blue);
    height: 3%;
    text-align: center;
}

.ovr-registration {
    margin-top: 3%;
}

.ovr-registration-confirmation-message {
    text-align: center;
    color: black;
    font-size: 14pt;
    font-family: inherit;
}

.ovr-registration-confirmation-message-head {
    font-family: subTitleFont;
    text-align: center;
}

.ovr-info-danger {
    opacity: 1;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12pt;
    background: var(--ovr-red);
    color: wheat;
    text-align: center;
    border-radius: 4px;
    font-weight: bold;
}

.ovr-confirmation-message {
    text-align: center;
    font-size: 11pt;
    font-weight: bolder;
}

.ovr-main-tile {
    background-color: transparent;
    margin-top: 5%;
    height: 200px;
}

.ovr-main-img {
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    margin-right: 10%;
    transition: all 0.8s;
    opacity: 0.9;

}

.ovr-main-title-choice {
    background: wheat;
    position: absolute;
    top: 100%;
    right: 9%;
    left: 9%;
    padding-left: 28%;
    padding-right: 28%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: subTitleFont;
    text-align: center;
    font-size: 18pt;
    cursor: pointer;
    z-index: 1;
    float: right;
}

.ovr-main-title-choice:hover ~ .ovr-main-img {
    transition-property: margin-left, margin-top, width;
    width: 82%;
    margin-left: 9%;
    margin-top: 4%;
    margin-right: 4%;
    opacity: 0.5;
}

#map {
    width: 100%;
    height: 400px;
    background-color: grey;
}



